.todos {
  .title {
    display: flex;
    justify-content: center;
    
  }
  .inputs {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}